{
    "fif": "/network/lustre/iss01/home/aurore.bussalb/Repositories/data_test_BL/rest1-raw.fif",
    "calibration": "/network/lustre/iss01/home/aurore.bussalb/Repositories/data_test_BL/sss_cal.dat",
    "crosstalk": null,
    "destination": null,
    "headshape": null,
    "channels": null,
    "destination_coords": null,
    "events": "/network/lustre/iss01/home/aurore.bussalb/Repositories/app-create-events/out_dir_get_events/events.tsv",
    "origin": "auto",
    "int_order": 8,
    "ext_order": 3,
    "st_duration": null,
    "st_correlation": 0.98,
    "coord_frame": "head",
    "regularize": "in",
    "ignore_ref": false,
    "bad_condition": "error",
    "st_fixed": true,
    "st_only": false,
    "mag_scale": 100.0,
    "skip_by_annotation": ["edge", "bad_acq_skip"],
    "extended_proj": []
}
